<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ "/assets/css/base.css" | htmlBaseUrl }}'>
    <link rel="alternate" href='{{ "/feed.xml" | htmlBaseUrl }}' type="application/atom+xml" />
    {% include "./partials/opengraph.njk" %}
    {% include "./partials/googleanalytics.njk" %}
    {% block head %}
    <link rel="stylesheet" href='{{ "/assets/css/article.css" | htmlBaseUrl }}'>
    <script defer="defer" src='{{ "/assets/js/highlight.min.js" | htmlBaseUrl }}'></script>
    {% endblock %}
    <title>{% block title %}{{ title }}{% endblock %} - 融合知能デザイン研究室 技術ブログ</title>
</head>
<body id="top">
    <header class="header">
        {% include "./partials/navbar.njk" %}
    </header>
    <main class="main">
        {% block main %}
        <article class="post-single">
            <header class="post-header">
                <h1 class="post-title">{{ title }}</h1>
                <div class="post-meta">
                    <time datetime="{{ date.toISOString() }}">{{ date | readableDate }}</time>
                    <div class="post-author">
                        <img src='{{ "/assets/img/avatars/" + author + ".png" | url }}' height="24"/>
                        <a href='{{ getAuthorLink author }}' itemprop="name">{{authors[author].name}}</a>
                    </div>
                    <ul class="post-tags">
                        {% for tag in tags %}
                        {% if tag !== "posts" %}
                            <li class="post-tag">{% tag_link tag %}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </header>
            {{ content | toc | safe }}
            <div class="post-content" itemprop="articleBody">
                {{ content | safe }}
            </div>
            <footer class="post-footer">
            </footer>
        </article>
        {% endblock %}
    </main>
    <footer class="footer">
        <p id="copyright"></p>
        <p id="privacy-policy">
            当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を使用しています。このGoogleアナリティクスはデータの収集のためにCookieを使用しています。このデータは匿名で収集されており、個人を特定するものではありません。
            この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関しての詳細は<a href="https://marketingplatform.google.com/about/analytics/terms/jp/">Googleアナリティクスサービス利用規約のページ</a>や<a href="https://policies.google.com/technologies/partner-sites">Googleポリシーと規約ページ</a>をご覧ください。
        </p>
    </footer>
</body>
</html>