{% extends "./base.njk" %}

{% block title %}
{{ title }}
{% endblock %}

{% block main %}
<article>
    <h1>{{ title }}</h1>
    <aside>
        <p>
            公開: <time datetime="{{ date }}">{{ date }}</time>
        </p>
        <p>
            著者: {{ author }}
        </p>
        <div>
            tag: 
            {% for tag in tags %}
            {% set tag_path = "/tags/" + (tag | slugify) %}
            <a href='{{ tag_path | htmlBaseUrl }}'>{{ tag if tag !== "posts" }}</a>
            {% endfor %}
        </div>
    </aside>
    <div>
        {{ content | safe }}
    </div>
</article>
{% endblock %}