---
permalink: /assets/css/base.css
---

{% include "./core/license.css" %}
{% include "./core/reset.css" %}
{% include "./core/theme-vars.css" %}
{% include "./core/zmedia.css" %}
{% include "./includes/scroll-bar.css" %}
{% include "./common/header.css" %}
{% include "./common/main.css" %}
{% include "./common/footer.css" %}