---
layout: article-list
pagination:
   data: authors
   size: 1
   alias: author
permalink: "/author/{{author}}/"
ogp_type: "webpage"
eleventyComputed:
   title: "著者: {{authors[author].name}}"
---

<article itemscope itemtype="https://schema.org/Person">
    <h1 itemprop="name">{{ authors[author]["name"] }}</h1>
    <img src="{{ authors[author].id | getAuthorAvatarLink }}" alt="" width="180" itemprop="image">
    <p itemprop="description">{{ authors[author]["description"] }}</p>
    <ul>
        {% for link in authors[author].links %}
            <li><a href="{{link.link}}" itemprop="sameAs">{{link.name}}</a></li>
        {% endfor %}
        <li><a href="{{ author | getAuthorLink }}/feed.xml" rel="alternate" type="application/xml+atom">RSS</a></li>
    </ul>
    {% for post in collections.posts | reverse | filterAuthor(author) %}
        {% include './_includes/partials/entry.njk' %}
    {% endfor %}
</article>