---
layout: article-list
pagination:
   data: authors
   size: 1
   alias: author
permalink: "/author/{{author}}/"
ogp_type: "webpage"
eleventyComputed:
   title: "著者: {{authors[author].name}}"
---

<article>
    <h1>{{ authors[author]["name"] }}</h1>
    <img src='{{ "/assets/img/avatars/" + author + ".png" | htmlBaseUrl }}' alt="" width="180">
    <p>{{ authors[author]["description"] }}</p>
    <ul>
        {% for link in authors[author].links %}
            <li><a href="{{link.link}}">{{link.name}}</a></li>
        {% endfor %}
    </ul>
    {% for post in collections.posts | reverse | filterAuthor(author) %}
        {% include './_includes/partials/entry.njk' %}
    {% endfor %}
</article>