---
eleventyExcludeFromCollections: true
layout: article-list
title: "トップページ"
ogp_type: "website"
eleventyImport:
  collections: ["posts"]
---

<article>
    <h1>最新記事 10件</h1>
    {% for post in collections.posts | reverse %}
        {% if loop.index <= 10 %}
            {% include './_includes/partials/entry.njk' %}
        {% endif %}
    {% endfor %}
</article>