---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - posts
    - tagList
    - post
  addAllPagesToCollections: true
permalink: "/tag/{{ tag | slugify }}/"
layout: article-list
ogp_type: "webpage"
eleventyComputed:
  title: "タグ「{{ tag }}」を含む記事一覧"
---

<article>
    <h1>タグ「{{ tag }}」を含む記事一覧</h1>
    {% for post in collections[tag] %}
    {% include './_includes/partials/entry.njk' %}
    {% endfor %}
    <a href='{{ "/tags" | htmlBaseUrl }}'>タグ一覧をみる</a>
</article>
