---
permalink: "/tag/"
layout: base
ogp_type: "webpage"
---
<article>
    <h1>タグ一覧</h1>
    {% for tag in collections.posts | getAllTags | filterTagList %}
    <ul>
        <li><a href='{{ ("/tag/" + ( tag | slugify )) | url }}'>{{ tag }}</a></li>
    </ul>
    {% endfor %}
</article>